@using Microsoft.AspNetCore.Antiforgery;
@attribute [RequireAntiforgeryToken(required: false)]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body hx-boost="true">
    <script src="/livewire.js?id=99a05389" data-csrf="lPIql3B8N6Qm5jJFZsbRZ1zEq5ka2gnldMt16Qpp" data-uri="/update" data-navigate-once="true"></script>
</body>

</html>
