@layout MainLayout
@inherits SparkComponentBase

<PageTitle>Contacts</PageTitle>

<h1>
    Contacts
</h1>
<a href="@Link.GetPathByName("Contacts.Create")">Create contact</a>

<div>
    @foreach (var contact in Model.Contacts)
    {
        <div style="margin-bottom: 10px; border-bottom: 2px solid black; max-width: 300px;">
            <p>@contact.Name</p>
            <p>@contact.Email</p>
        </div>
    }
</div>

@code {
    [Parameter]
    public ContactModel Model { get; set; } = new();
}
