@layout MainLayout
@inherits SparkComponentBase

<PageTitle>Home</PageTitle>

<h1>Welcome to contact manager</h1>

<a href="@Link.GetPathByName("Contacts")">View Contacts</a>
<a href="@Link.GetPathByName("Contacts.Create")">Create contact</a>
